@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

html{
    font-family: CopperPot;
    font-size: 15px;
}

body{
    border:2px solid black;
    margin: 5px;
    background-image: url(./assets/background.avif);
    opacity: 0.7;
}