/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-family: "Nunito";
  font-size: 12px;
}

/* Block - foodHub */
.foodHub {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); 
  /* background-color:rgb(26, 26, 27); */
}

/* Element - container */
.foodHub__container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

/* Element - brand */
.foodHub__brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}

/* Element - search-form */
.foodHub__search__form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
}

/* Element - search-input */
.foodHub__search__input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Element - search-icon */
.fas.fa-search{
  width: 8%;
  font-size: 2rem;
  margin-bottom: -8px;
  color: black;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px;
}

.fas.fa-search:hover {
  color: red;
  transition: color 0.3s ease-out;
}

/* Element - search-result */
.foodHub__search__result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

/* Element - search-result-item */
.foodHub__search__result__item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}

/* Element - search-result-image */
.foodHub__search__result__image {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

/* Element - search-result-content */
.foodHub__search__result__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Element - search */

.foodHub__search__result__title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.foodHub__search__result__link {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}

.foodHub__search__result__data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.foodHub__container.foodHub__initial .foodHub__brand{
  font-size: 7rem;
}

.foodHub__container.foodHub__initial foodHub__search__form {
  max-width: 800px;
}

.foodHub__container.foodHub__initial foodHub__search__form foodHub__search__input {
  padding: 20px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .foodHub__container.foodHub__initial .foodHub__brand {
    font-size: 4rem;
  }
  .foodHub__container.foodHub__initial foodHub__search__form {
    max-width: 500px;
  }
  .foodHub__container.foodHub__initial foodHub__search__form foodHub__search__input {
    padding: 10px;
    font-size: 2rem;
  }
}