@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

html{
    font-family: Nunito;
    font-size: 15px;
}

body{
    margin: 5px;
    letter-spacing: 1.1px;
}

.style__contact, .button__green{
    background: rgb(106, 204, 0);
}

.close {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 6px;
    color: whitesmoke;
}

.close:hover, .button__green:hover{
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  transition: box-shadow 1s ease-in;
}

.modal {
    width: 35%;
    border-radius: 50px 50px;
 }
    
  .modal-content {
    border: 1px solid #888!important;
    width: 80%; 
  }
  
  .style__quote{
    margin-bottom: -1rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-top: -1.3rem;
  }
  
  /* Media Queries */

  @media only screen and (max-width: 600px) {
    .modal {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 430px) {
    .modal {
      width: 100%;
      margin-left:10px;
    }
    
    .modal-content {
      width: 85%;
    }
  }

  @media only screen and (max-width: 600px) {
    html {
      font-size: 14px;
    }
    .style__quote {
      font-size: 0.8rem;
    }
    .modal {
      width: 100%;
      margin-left:15px;
    }
    .modal-content {
      width: 65%;
    }
  }

  /* CSS styles for iPad Air */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .modal {
    width: 40%;
  }
  .modal-content {
    width: 70%; 
  }
  html {
    font-size: 16px;
  }
  .style__quote {
    font-size: 1rem;
  }
}

/* CSS styles for iPad mini */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  
  .modal {
    width: 45%;
  }
  .modal-content {
    width: 75%; 
  }
  html {
    font-size: 16px;
  }
  .style__quote {
    font-size: 1rem;
  }
}

/* CSS styles for Surface Pro 7 */
@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .modal {
    width: 50%;
  }
  .modal-content {
    width: 80%; 
  }
  html {
    font-size: 18px;
  }
  .style__quote {
    font-size: 1.1rem;
   }
}

/* CSS styles for Nest Hub */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
  
  .modal {
    width: 60%;
  }
  .modal-content {
    width: 85%; 
  }
  html {
    font-size: 14px;
  }
  .style__quote {
    font-size: 0.9rem;
  }
}

 /* CSS styles for Nest Hub Max */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
 
  .modal {
    width: 70%;
  }
  .modal-content {
    width: 90%; 
  }
  html {
    font-size: 16px;
  }
  .style__quote {
    font-size: 1rem;
  }
}


  