.foodHub__footer {
    background-color: black;
    text-align: center;
    color: #fff;
    margin: -5px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 2%;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
}

.foodHub__footer__nav{
    margin-top: -1.5%;
}

.foodHub__footer__nav__list  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.foodHub__footer__nav__item {
    margin: 7px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.foodHub__footer__nav__link{
    text-decoration: none;
    color: #fff;
    transition: 2s ease;
}

.foodHub__footer__nav__link:hover {
    font-size: 28px; 
}

.foodHub__footer__social__icons {
    display: flex;
}

.fab.fa-facebook-square { 
    color: #4267B2;
}

.fab.fa-linkedin { 
    color: #0A66C2;
}

.fab.fa-twitter-square {
    color: #1DA1F2;
}

.fab.fa-youtube  {
    color: #FF0000;
}
  
.fab.fa-pinterest {
    color: #E60023;
}
  
.fab.fa-instagram{
    background: linear-gradient(to right, #405DE6, #5B51D8, #833AB4, #C13584,#E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fab.fa-github {
    color: #6e767d;
}

.fab.fa-whatsapp  {
    color: #128C7E;
}

.fab.fa-apple {
    color: #A2AAAD;
}

.foodHub__footer__nav__link {
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
    margin-right: 15px;
    transition: 3s ease;
}
  
.foodHub__footer__nav__link:hover {
    text-decoration: none;
    font-size: 34px;
    padding: 0 10px;
}

.foodHub__footer__nav__link img {
    width: 32px;
    height: 32px;
  }
  
  .foodHub__footer__nav__link i {
    font-size: 30px;
    margin: 0 10px;
  }
  
  .foodHub__footer__nav__link i:hover {
    font-size: 33px;
  }
  
.foodHub__footer__copyright,
.foodHub__footer__copyright__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.foodHub__footer__copyright{
    margin: -25px;
    padding: 8px;
}