/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito";
  font-size: 12px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

body{
  margin:5px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.img__logo {
  display: inline-block;
  margin-left: -143px;
  margin-top: -72px;
  width: 97px;
  height: 90px;
  float: left;
}

/* Block - foodHub */
.foodHub {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 48px 0;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-color:rgb(26, 26, 27);
  align-items: baseline;
  justify-content: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
}

/* Element - container */
.foodHub__container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 32px;
  padding: 0px 4px 0px 16px;
}

/* Element - brand */
.foodHub__brand {
  text-align: center;
  font-size: 3rem;
  color: chocolate;
  margin-bottom: 20px;
  font-family: cursive;
  letter-spacing: 1px;
  line-height: 1px;
}

.foodHub__recommendation{
  text-align: left;
  font-size: 2.4rem;
  margin-bottom: 10px;
  font-family: cursive;
  letter-spacing: 1px;
  line-height: 1px;
  color:chocolate;
}

/* Element - search-form */
.foodHub__search__form {
  width: 80%;
  margin: 64px 223px;
  border-radius: 23px;
  padding: 0px;
  max-width: 68%;
}

/* Element - search-input */
.foodHub__search__input {
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  height: 75px;
}

.input-wrapper {
  position: relative;
}

/* Element - search-icon */
.search-icon {
  position: absolute;
  z-index: 1;
  width: auto;
  font-size: 2.3rem;
  color: black;
  display: inline-block;
  border-radius: 50px;
  padding: 18px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} 

.search-icon:hover {
  color: red;
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 2px 2px 8px 4px grey;
  transition: box-shadow 0.5s ease-in;
}

.clear-btn{
  position: absolute;
  font-size: 2.7rem;
  color: black;
  display: inline-block;
  border:none;
  padding: 0px;
  background: none;
  z-index: 1;
  right: 90px;
  top: 42%;
  transform: translateY(-50%);
  border-right: 1px solid rgb(179, 176, 176);
  height: 120%; 
}

.clear-btn:hover{
  color: red;
  cursor: pointer;
}

/* Element - search-result */
.foodHub__search__result,.foodHub__videos {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}

/* Element - search-result-item */
.foodHub__search__result__item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 4px;
  overflow: hidden;
}

/* Element - search-result-image */
.foodHub__search__result__image {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

/* Element - search-result-content */
.foodHub__search__result__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* Element - search */

.foodHub__search__result__title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.foodHub__search__result__link {
  text-decoration: none;
  text-align: center;
  width: 152px;
  padding: 10px 0;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}

.foodHub__search__result__link:hover{
  color: red;
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 2px 2px 8px 4px grey;
  transition: box-shadow 0.5s ease-in;
} 

.foodHub__search__result__data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.foodHub__container.foodHub__initial .foodHub__brand{
  font-size: 3rem;
}

.foodHub__container.foodHub__initial .foodHub__search__form {
  max-width: 835px;
}

.foodHub__container.foodHub__initial .foodHub__search__form .foodHub__search__input {
  padding: 20px;
  font-size: 1.7rem;
}

.hidden {
  display: none;
}

.pagination{
  margin-left: 500px !important;
}

.page-link {
  background-color: black;
  color: whitesmoke;
  width: 120px;
  padding:10px;
  margin:10px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.page-link:hover {
  color: red;
  background-color: black;
  transition: color 0.3s ease-out;
  cursor: pointer;
}

/* Webkit browsers */
::-webkit-scrollbar {
  width: 15px;
  background-color: #fdfbfb;
}

::-webkit-scrollbar-thumb {
background-color: #747171;
border-radius: 10px;
}

/* Firefox */
scrollbar {
  width: 12px;
  background-color: #747171;
}

scrollbar-thumb {
background-color: #747171;
border-radius: 10px;
}

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .foodHub__container.foodHub__initial .foodHub__brand {
    font-size: 4rem;
  }
  .foodHub__container.foodHub__initial .foodHub__search__form {
    max-width: 500px;
  }
  .foodHub__container.foodHub__initial .foodHub__search__form .foodHub__search__input {
    padding: 10px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .foodHub__search__form {
    width: 80%;
  }
}

