@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@500&family=Dancing+Script:wght@700&display=swap');

html{
    font-family: Nunito;
    background-color: black;
}

article h3{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

body{
    border:2px solid black;
    margin: 5px;
}

.style__headingabout{
  border-bottom: 5px solid rgb(217, 53, 3);
  padding-bottom: 15px;
}

@keyframes moveIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0.8) skew(10deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) skew(0deg);
    opacity: 1;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-3"
      "item-4 item-5";
    grid-gap: 10px;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: center;
}

.grid-item {
  text-align: center;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
    grid-area: item-2;
}

.grid-item {
    text-align: center;
    height: 212px;
    width: 655px;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.grid-item.item-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.grid-item.item-3 img {
  object-fit: contain;
  animation: scaleIn 2s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .grid-item.item-3 img{
  border-radius: 15px;
  object-fit: cover;
  animation: scaleIn 2s ease-out forwards;
  position: absolute;
  top: 88px;
  left: 590px; */
  /* bottom: 700px; */
  /* moveIn 2s ease-out forwards; */
  /* rotate 3s ease-in-out; */
/* } */

article {
  line-height: 1.5rem;
}

article h3, h4{
  color:rgb(6, 6, 6);
  text-align: center;
}

.style__p {
  color: rgb(5, 5, 5);
  text-align: justify;
  margin: 24px;
  margin-right: 37px;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  letter-spacing: -.03em;
  text-transform: none;
  opacity: 1;
}

article h4{
  color: yellowgreen;
  font-family: 'Bungee Spice', cursive;
  font-size: 20px;
}

.style__aboutquote{
  font-size: 1.00rem !important;
  margin-top: 0rem!important;
  margin-right: 3rem!important;
}


/* 
.style__contact{
  background: rgb(106, 204, 0);
}
.close {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 6px;
  color: whitesmoke;
}
  
.modal {
  width: 35%;
  border-radius: 50px 50px;
}
  
.modal-content {
  border: 1px solid #888!important;
  width: 80%; 
}

.style__contactquote{
  margin-bottom: -1rem;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: -1.3rem;
}

.button__green{
  background: rgb(106, 204, 0);
} */
