@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

html {
    font-family: "Nunito";
    font-size: 17px;
}


.fas.fa-star {
    color: black;
    font-size: xxx-large;
}

.fas.fa-star:hover {
    color: #0057e7;
}

.fas.fa-star.selected {
    color: red;
}

.form-control {
    width: 80%;  /* !important; --- use !important to give css priority over bootstrap or place style.css below bootstrap link */
    border: 2px solid rgb(115, 115, 237);
    border-radius: 2%;
} 

body{
    border:2px solid black;
    margin: 5px;
}

.mt-5 {
    margin-top: 1rem !important;
}

.mt-3 {
    margin-top: 0rem!important;
    margin-right: -6rem !important;
}

.row{
    margin-right: calc(4.5 * var(--bs-gutter-x));
    margin-left: calc(4.5 * var(--bs-gutter-x));
}

.align__label{
    margin-top: 1rem;
    text-align: center;
    font-weight:bold;
}

hr{
    margin-left: -12.5px;
    margin-right: -12.5px;
    border: 1px solid black;
    opacity: 1.25;
}

.form-check-input{
    border: 1px solid black !important;
}

.btn{
    margin-right: 1.2rem !important;
}

.style__star{
    margin-left: 24.2rem;
}